.container {
    display: flex;
    flex-direction: column;
}

.wordPad {
    margin-top: 50px;
    height: 100%;
}

.honeycomb {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.buttonArea {
    text-align: center;
}

.buttonArea button {
    min-width: 4em;
    font-size: 0.95em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.8em;
    margin: 0 15px;
}
