.container {
    display: flex;
    flex-direction: column;
}

.buttonArea {
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    cursor: pointer;
}

.controlLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.controlRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.arrowLabel {
    margin-top: 1em;
}