.letterTouchBox {
    padding: 10px 7px;
    box-sizing: unset;
    cursor: pointer;
    font-family: var(--font-family-heavy);
}

.letterShape {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
}

.letterContent {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.keyLetter {
    border: 1px solid;
}

.activeLetter {
    background-color: var(--background-color);
}