.letterTouchBox {
    padding: 10px 7px;
    box-sizing: unset;
    cursor: pointer;
}

.letterShape {
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

.letterContent {
    font-size: 25px;
    text-transform: uppercase;
}

.keyLetter {
    background-color: yellow;
    color: #000000;
}

.activeLetter {
    background-color: #FFFFFF;
    color: #000000;
}