.outerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.textContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 2.5rem;
    padding: 0 0.5em;
    font-size: calc(var(--font-size-base) * 1);
}

.textContainer span {
    width: 33%;
    height: 2.5em;
}

.textContainer span:nth-child(2) {
    text-align: center;
}

.textContainer span:nth-child(3) {
    text-align: right;
}

.colorContainer {
    height: 100%;
    display: none;
    content: "";
    background-color: var(--background-color);
}

.pillContainer {
    border: 1px solid;
    border-radius: 30px;
    height: 3rem;
    overflow: hidden;
}

.wordsFoundLink {
    text-decoration: underline;
}