.container {
    font-family: var(--font-family-notification);
    text-transform: uppercase;
    /* font-size: 5rem; */
    color: var(--foreground-color-1);
    cursor: pointer;
    width: 100px;
    border: 1px solid red;
}