.container {
    height: 2em;
    line-height: 2em;
    margin:0 0 1em;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 2em;
    font-family: var(--font-family-heavy);
    border-bottom: 1px solid;
}