.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    overflow-x: hidden;
}

.word {
    margin: auto 10px;
    text-transform: capitalize;
}

.allWordsContainer {
    position: absolute;
    width: 100%;
    z-index: 10;
    columns: 2;
    background-color: rgb(153, 153, 153);
    opacity: 0.98;
    color: black;
    font-size: 16px;
}