@font-face {
  font-family: Monument;
  src: url('/fonts/MonumentExtended-Regular.otf');
}

@font-face {
  font-family: Sprat;
  src: url('/fonts/Sprat-CondesedRegular.otf');
}

@font-face {
  font-family: ApfelGrotezkRegular;
  src: url('/fonts/ApfelGrotezk-Regular.otf');
}

@font-face {
  font-family: ApfelGrotezkFett;
  src: url('/fonts/ApfelGrotezk-Fett.otf');
}

:root {
  --background-color: #FFA255;
  --foreground-color-1: #FFFFFF;
  --foreground-color-2: #000000;
  --font-family-heavy: 'Monument', 'Arial', sans-serif;
  --font-family-title: 'Sprat', 'Times New Roman', Times, serif;
  --font-family-paragraph: 'ApfelGrotezkRegular', 'Arial', sans-serif;
  --font-family-notification: 'ApfelGrotezkFett', 'Arial', sans-serif;
}

body {
  font-family: var(--font-family-title);
  background: url('/images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: var(--foreground-color-1);
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

.app {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 3em 2em;
}

.home-screen {
  position: relative;
  width: 100%;
}

@media screen and (min-width: 550px) {
  .app {
    font-size: 18px;
    width: 100%;
  }
}

@media screen and (min-width: 750px) {
  .app {
    font-size: 18px;
  }

  .home-screen {
    max-width: 75%;
    width: 100%;
  }
}

@media screen and (min-width: 990px) {
  .app {
    font-size: 20px;
  }

  .home-screen {
    max-width: 50%;
    width: 100%;
  }
}
