@font-face {
    font-family: Monument;
    src: url('/fonts/MonumentExtended-Regular.otf');
}

@font-face {
    font-family: Sprat;
    src: url('/fonts/Sprat-CondesedRegular.otf');
}

@font-face {
    font-family: ApfelGrotezkRegular;
    src: url('/fonts/ApfelGrotezk-Regular.otf');
}

@font-face {
    font-family: ApfelGrotezkFett;
    src: url('/fonts/ApfelGrotezk-Fett.otf');
}

:root {
    --background-color: #FFA255;
    --foreground-color-1: #FFFFFF;
    --foreground-color-2: #000000;
    --font-family-heavy: 'Monument', 'Arial', sans-serif;
    --font-family-title: 'Sprat', 'Times New Roman', Times, serif;
    --font-family-paragraph: 'ApfelGrotezkRegular', 'Arial', sans-serif;
    --font-family-notification: 'ApfelGrotezkFett', 'Arial', sans-serif;
    --font-size-base: 20px;
}

body {
    font-family: var(--font-family-title);
    background: url('/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: var(--foreground-color-1);
    font-size: var(--font-size-base);
}

* {
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

button {
    border: 1px solid var(--foreground-color-1);
    color: var(--foreground-color-1);
    font-family: inherit;
    border-radius: 50%;
    padding: 11px;
    cursor: pointer;
    background-color: var(--background-color);
}

@media screen and (-ms-high-contrast: active) {
    button {
        border: 2px solid currentcolor;
    }
}

.home-screen {
    height: 100vh;
}

.home-container {
    position: relative;
    padding: 0 0.5em;
    max-width: 680px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 376px) {
    .home-container {
        padding: 0 2em;
    }
}

.home-container > * {
    flex-grow: 1;
}